.pls {
    background-image: url(https://images.unsplash.com/photo-1683384162000-f563d6501fd0?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxlZGl0b3JpYWwtZmVlZHwyMnx8fGVufDB8fHx8&auto=format&fit=crop&w=600&q=60);
    height: 500px;
    width: 100%;
}